@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swa');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Tangerine', cursive;
    font-size: 48px;
    color: #ffffff !important;
}

a.navbar-menu {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: #ffffff !important;
}

html {
    font-size: 14px;
    
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/*rgb(118, 183, 171)*/
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(112, 130, 93);
}
.font {
    font-family: 'LTZapfino One';
}
@font-face {
    font-family: 'LTZapfino One';
    src: local('LTZapfino One'), url('/ClientApp/src/fonts/LTZapfino One.otf') format('opentype');
    src: local('LTZapfino One'), url('/ClientApp/src/fonts/LTZapfino One One.ttf') format('truetype');
}
